@import "./var.scss";

.container {
  padding: 50px;
  display: flex;

  .left {
    flex: 2;

    .table {
      width: 100%;
      border-spacing: 20px;

      .trTitle {
        font-weight: 700;
        font-size: 1.5rem;
      }

      .tr {
        td {
          align-items: center;
          text-align: center;

          .imgContainer {
            width: 100px;
            height: 100px;
            position: relative;
            margin-left: auto;
            margin-right: auto;
          }

          .name {
            font-weight: 500;
            color: $main-color;
            font-size: 18px;
          }

          .extras {}

          .price {}

          .quantity {}

          .total {
            font-weight: 500;
            font-size: 18px;
          }
        }
      }
    }
  }

  .right {
    flex: 1;

    .wrapper {
      width: 90%;
      min-height: 300px;
      background-color: #333;
      padding: 50px;
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: white;

      .title {}

      .totalText {
        .totalTextTitle {
          margin-right: 10px;
        }
      }

      .button {
        height: 30px;
        color: $main-color;
        font-weight: bold;
        cursor: pointer;
        margin-top: 20px;
      }
    }
  }
}

.paymentMethods {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.payButton {
  padding: 10px 5px;
  cursor: pointer;
  margin-bottom: 5px;
  background-color: white;
  color: teal;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    padding: 20px;

    .right {
      .wrapper {
        width: 100%;
      }
    }

    .left {
      .table {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .tr {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;

          td {

            .extras,
            .price,
            .quantity {
              font-size: 22px;
            }

            .price::before {
              content: "Price: ";
              font-weight: 500;
            }

            .quantity::before {
              content: "Quantity: ";
              font-weight: 500;
            }

            .total::before {
              content: "Total: ";
              font-weight: 500;
            }

            .imgContainer {
              width: 35vw;
              height: 35vw;
            }

            .name,
            .total {
              font-size: 24px;
            }
          }
        }

        .trTitle {
          display: none;
        }
      }
    }
  }
}